:root {
   --background: ${GREEN};
   --foreground: ${FOREGROUND};
   --black: ${BLACK};
   --red: ${RED};
   --green: ${GREEN};
   --yellow: ${YELLOW};
   --blue: ${BLUE};
   --purple: ${PURPLE};
   --cyan: ${CYAN};
   --white: ${WHITE};
}
