:root {
   --background: #98c379;
   --foreground: #abb2bf;
   --black: #22262d;
   --red: #e06c75;
   --green: #98c379;
   --yellow: #e5c07b;
   --blue: #61afef;
   --purple: #c678dd;
   --cyan: #56b6c2;
   --white: #dfdfdf;
}
