@import url(colors.css);


* {
   font-family: "Hack Nerd Font";
   font-size: 16;
}

window {
   background-color: #282c34;
}


#input {
   all: unset;
   min-height: 36px;
   padding: 0px 10px;
   margin: 15px 15px;
   border: none;
   color: #cad3f5;
   font-weight: bold;
   background-color: #596276;
   outline: none;
   margin-bottom: 2px;
   border-radius: 4px;
   font-size: 18px;
}


#entry:selected {
   border-radius: 4px;
   background-color: #61afef;
}


#inner-box {
   margin: 4px;
   padding: 10px;
   font-weight: bold;
   border-radius: 15px;
}


#outer-box {
   margin: 10px;
}

#text:selected {
   color: #282c34;
   background-color: #61afef;
   margin: 0px 0px;
   border: none;
   border-radius: 15px;
}

#scroll {
   margin: 5px 0px;
   color: #ccc;
}


#scroll label {
   margin: 2px 0px;
}


#img {
   padding: 5px 5px;
}
