.datetime {
   margin-top: 3px;
   margin-bottom: 3px;
   margin-left: 3px;
   padding: 0px 3px 0px 0px;
   border-radius: 15px;
   color: #{$black};
}


.datetime_test {
   color: #{$green};
   padding: 0px 0px 0px 0px;
}

.datetime_text {
   font-family: "MicrEncoding";
   font-weight: bold;
   font-size: 18;
}

.datetime_label {
   color: #{$orange};
   background-color: #{$black};
   border-radius: 16px;
   padding: 3px 4px 3px 8px;
}

.calendar {
   padding: 4px 4px 4px 4px;
   border-radius: 15px;
   background-color: #{$black};
   font-size: 14;
   font-family: "VictorMono";
   font-weight: bold;
   font-style: italic;
}

.calendar:selected {
   border-radius: 9px;
   background: linear-gradient(to bottom right, #{$purple}, #{$blue}, #{$cyan}, #{$green}, #{$yellow}, #{$orange});
   color: #{$darkblack};
}

.calendar_clock {
   margin: 0px 0px 20px 0px;
   color: #{$white};
   font-family: "MicrEncoding";
   font-size: 52;
}

/* .calendar.header { */
   /* background-color: #{$green}; */
/* } */

/* .calendar.view { */
   /* background-color: #{$blue}; */
/* } */

