
.music {
   color: #{$black};
   font-weight: bold;
   margin-top: 3px;
   margin-bottom: 3px;
   margin-left: 3px;
   padding: 0px 0px 0px 2px;
   border-radius: 15px;
}


.music_label {
   color: #{$cyan};
   background-color: #{$black};
   border-radius: 16px;
   padding: 3px 10px 3px 10px;
}

.music_text {
   color: #{$black};
   padding: 3px 10px 3px 10px;
}
