
@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
   .click-target-container *, .top-sites-list * {
      color: #fff !important ;
      text-shadow: 2px 2px 2px #222 !important ;
   }

   body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
   }

   body::before {
      content: "" ;
      z-index: -1 ;
      position: absolute;
      background-image: url(images/logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain ;
      align-self: center;
      width: 90vw ;
      height: 90vh ;
   }
}
