/*  This is a modified version of  */
/*  https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/curved_tabs.css */


#tabbrowser-tabs{
   --uc-tab-curve-size:10px;
   --uc-tabs-scrollbutton-border: 0px;
   --tab-block-margin: 0px;
   --tab-min-height: 34px;
   --uc-tab-line-color: rgb(255, 255, 255);
   --uc-tab-line-color: rgb(10, 132, 255);
   --uc-curve-stroke-opacity: 1;
}

.tabbrowser-tab[visuallyselected="true"] {
   position: relative;
   z-index: 2;
}

.tabbrowser-tab {
   padding-inline: 0px !important;
   border-radius: 10px 10px 0 0;
   overflow: hidden;
}

.tab-stack {
   border-radius: 10px 10px 0 0;
   overflow: hidden;
}

.tab-background {
   overflow: hidden !important;
   outline: none !important;
   box-shadow: none !important;
}

#TabsToolbar{
   --toolbarbutton-inner-padding: 6px !important;
}

.titlebar-spacer[type="pre-tabs"],
.tabbrowser-tab::after{
   border: none !important;
}


/* centered teb content  */
.tabbrowser-tab[selected]:not(:hover):not([pinned]) .tab-label-container,
#tabbrowser-tabs:not([closebuttons="activetab"]) .tabbrowser-tab:not(:hover):not([pinned]) .tab-label-container{ margin-inline-end: 7px } */
.tab-content:not([pinned])::before{
   display: -moz-box;
   content: "";
   -moz-box-flex: 1;
}
