
.workspaces {
   margin-top: 3px;
   margin-bottom: 3px;
   margin-left: 3px;
   padding: 0px 0px 0px 2px;
   border-radius: 15px;
}

.ws_icon {
   color: #{$black};
}

.ws_label {
   color: #{$purple};
   background-color: #{$black};
   border-radius: 16px;
   padding: 3px 5px 3px 9px;
}
