.process {
   margin-top: 3px;
   margin-bottom: 3px;
   margin-left: 3px;
   padding: 0px 3px 0px 0px;
   border-radius: 15px;
   color: #{$black};
}

.process_label {
   color: #{$cyan};
   background-color: #{$black};
   border-radius: 16px;
   padding: 3px 5px 3px 9px;
}

.process_text {
   color: #{$black};
}

