$black: $BLACK;
$red: $RED;
$green: $GREEN;
$yellow: $YELLOW;
$orange: $ORANGE;
$blue: $BLUE;
$purple: $PURPLE;
$cyan: $CYAN;
$white: $WHITE;
$gray: $GRAY;
$foreground: $FOREGROUND;

$darkblack: $DARK_BLACK;
$darkred: $DARK_RED;
$darkgreen: $DARK_GREEN;
$darkyellow: $DARK_YELLOW;
$darkorange: $DARK_ORANGE;
$darkblue: $DARK_BLUE;
$darkpurple: $DARK_PURPLE;
$darkcyan: $DARK_CYAN;
$darkgray: $DARK_GRAY;
