$black: #22262D;
$red: #E06C75;
$green: #98C379;
$yellow: #E5C07B;
$orange: #D19A66;
$blue: #61AFEF;
$purple: #C678DD;
$cyan: #56B6C2;
$white: #DFDFDF;
$gray: #596276;
$foreground: #ABB2BF;

$darkblack: #1D2026;
$darkred: #BE5046;
$darkgreen: #98971A;
$darkyellow: #E5C07B;
$darkorange: #D19A66;
$darkblue: #61AFEF;
$darkpurple: #C678DD;
$darkcyan: #56B6C2;
$darkgray: #3D4148;
