@import "colors.scss";
@import "modules/datetime/datetime.scss";
@import "modules/workspaces/workspaces.scss";
@import "modules/volume/volume.scss";
@import "modules/bluetooth/bluetooth.scss";
@import "modules/music/music.scss";
@import "modules/distro/distro.scss";
@import "modules/proc/proc.scss";


* {
    all: unset;
    font-family: "Hack Nerd Font";
    font-size: 14;
}

.bar {
    border-radius: 20px;
    background: linear-gradient(to right, #{$purple}, #{$blue}, #{$cyan}, #{$green}, #{$yellow}, #{$orange});
    padding: 1px;
}

.popup {
    background-color: #{$black};
    border-radius: 15px;
}

.popup_backdrop {
    padding: 20px 20px 20px 20px;
    background-color: #{$darkblack};
    border-radius: 20px;
}
