/* 
   progressbar css documentation: 
   https://docs.gtk.org/gtk4/class.ProgressBar.html
*/

.volume_text {
   color: #{$foreground};
   font-size: 18;
}

.volume_icon {
   margin: 10px 0px 0px 0px;
}

.volume_meter {
   border-radius: 10px;
   padding: 2px 0px 2px 0px;
   margin: 0px 12px 0px 12px;
   background: linear-gradient(to right, #{$purple}, #{$blue}, #{$cyan}, #{$green}, #{$yellow}, #{$orange}, #{$red});
}

.volume_meter > trough > progress {
   padding: 2px 0px 2px 0px;
   background-color: #{$black};
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}
